---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="portada">
	<img id="background" src=../../servidores.jpg alt="" fetchpriority="high" />
	<nav class="bg-gray-800 p-4">
  		<ul class="flex justify-center space-x-8">
    		<li><a href="/" class="text-white hover:text-gray-300">Inici</a></li>
    		<li><a href="/create" class="text-white hover:text-gray-300">Crear</a></li>
    		<li><a href="/gestio" class="text-white hover:text-gray-300">Gestió</a></li>
    		<li><a href="/estat" class="text-white hover:text-gray-300">Estat</a></li>
  		</ul>
	</nav>
	<main>
		<section id="hero">
			<img id="logo" class="flex justify-center mx-auto" src={astroLogo.src} alt="Logo" />
			<h1 id="Títol" class="text-center text-white w-full px-4">
				Cluster Multi-Cloud-Edge
			</h1>
			<h2 id="eslogan" class="text-center align-items-center text-blue-200 w-full px-4">
				Eslogan
			</h2>
		</section>
	</main>
</div>


<div>
	<div id="cos" class="bg-blue-50 rounded-3xl p-5 ml-5 mr-5 mb-5">
		<div class="flex gap-5 p-5">
  			<div class="flex-1 bg-gray-300 p-5 rounded-3xl">
				<img class="block mx-auto rounded-full w-32 h-32" src="../../martillodibujo.svg" />
				<h3 class="text-center">
					Crear Clústers Fàcilment
				</h3>
				<p class="text-center">
					Crea clústers en només segons de forma intuitiva i <i>user-friendly</i>
				</p>
			</div>
  			<div class="flex-1 bg-gray-300 p-5 rounded-3xl">
				<img class="block mx-auto rounded-full w-32 h-32" src="../../eina.svg" />
				<h3 class="text-center">
					Gestiona els clústers ja creats
				</h3>
				<p class="text-center">
					Gestiona i actualitza els teus clústers
				</p>
			</div>
  			<div class="flex-1 bg-gray-300 p-5 rounded-3xl">
				<img class="block mx-auto rounded-full w-32 h-32" src="../../servidordibujo.svg" />
				<h3 class="text-center">
					Examina els serveis
				</h3>
				<p class="text-center">
					Observa l'estat i localització dels multi-cloud-edge que oferim per al teu servei
				</p>
			</div>
		</div>
			<img id="background_1" src={background.src} alt="" fetchpriority="high" class="width-full mt-55"/>

		<div class="flex justify-center items-center mb-4 mt-3">
  			<button type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-base text-sm px-4 py-2.5 text-center leading-5">
				Comença
			</button>
		</div>
	</div>
	<div class="flex p-5 bg-blue-50 ml-5 mr-5 mb-5 rounded-3xl">
  		<div class="w-2/3 flex items-center">
   			<p class="text-left">
      			CloudWeave és una plataforma que connecta i gestiona recursos de diferents núvols i dispositius <i>edge</i> per crear clústers híbrids de forma senzilla i ràpida. El nostre objectiu és fer que desplegar infraestructura distribuïda sigui tan fàcil com prémer un botó.
    		</p>
  		</div>
  		<div class="w-1/3">
    		<img src="https://placehold.co/200" alt="Imatge" class="w-full h-auto object-cover">
  		</div>
	</div>
</div>

<div class="bg-gray-800 p-5">
	<div class="flex justify-center gap-5">
		<button type="button" class="text-white bg-[#0f1419] hover:bg-[#0f1419]/90 focus:ring-4 focus:outline-none focus:ring-[#0f1419]/50 box-border border border-transparent font-medium leading-5 rounded-base text-sm px-4 py-2.5 text-center inline-flex items-center dark:hover:bg-[#24292F] dark:focus:ring-[#24292F]/55">
			<svg class="w-4 h-4 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M12.006 2a9.847 9.847 0 0 0-6.484 2.44 10.32 10.32 0 0 0-3.393 6.17 10.48 10.48 0 0 0 1.317 6.955 10.045 10.045 0 0 0 5.4 4.418c.504.095.683-.223.683-.494 0-.245-.01-1.052-.014-1.908-2.78.62-3.366-1.21-3.366-1.21a2.711 2.711 0 0 0-1.11-1.5c-.907-.637.07-.621.07-.621.317.044.62.163.885.346.266.183.487.426.647.71.135.253.318.476.538.655a2.079 2.079 0 0 0 2.37.196c.045-.52.27-1.006.635-1.37-2.219-.259-4.554-1.138-4.554-5.07a4.022 4.022 0 0 1 1.031-2.75 3.77 3.77 0 0 1 .096-2.713s.839-.275 2.749 1.05a9.26 9.26 0 0 1 5.004 0c1.906-1.325 2.74-1.05 2.74-1.05.37.858.406 1.828.101 2.713a4.017 4.017 0 0 1 1.029 2.75c0 3.939-2.339 4.805-4.564 5.058a2.471 2.471 0 0 1 .679 1.897c0 1.372-.012 2.477-.012 2.814 0 .272.18.592.687.492a10.05 10.05 0 0 0 5.388-4.421 10.473 10.473 0 0 0 1.313-6.948 10.32 10.32 0 0 0-3.39-6.165A9.847 9.847 0 0 0 12.007 2Z" clip-rule="evenodd"/></svg>
			@MIau
		</button>
		<button type="button" class="text-white bg-[#0f1419] hover:bg-[#0f1419]/90 focus:ring-4 focus:outline-none focus:ring-[#0f1419]/50 box-border border border-transparent font-medium leading-5 rounded-base text-sm px-4 py-2.5 text-center inline-flex items-center dark:hover:bg-[#24292F] dark:focus:ring-[#24292F]/55">
			<svg class="w-4 h-4 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24"><path d="M13.795 10.533 20.68 2h-3.073l-5.255 6.517L7.69 2H1l7.806 10.91L1.47 22h3.074l5.705-7.07L15.31 22H22l-8.205-11.467Zm-2.38 2.95L9.97 11.464 4.36 3.627h2.31l4.528 6.317 1.443 2.02 6.018 8.409h-2.31l-4.934-6.89Z"/></svg>
			@MIau
		</button>
		<button type="button" class="text-white bg-[#3b5998] hover:bg-[#3b5998]/90 focus:ring-4 focus:outline-none focus:ring-[#3b5998]/50 box-border border border-transparent font-medium leading-5 rounded-base text-sm px-4 py-2.5 text-center inline-flex items-center dark:focus:ring-[#3b5998]/55">
			<svg class="w-4 h-4 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M13.135 6H15V3h-1.865a4.147 4.147 0 0 0-4.142 4.142V9H7v3h2v9.938h3V12h2.021l.592-3H12V6.591A.6.6 0 0 1 12.592 6h.543Z" clip-rule="evenodd"/></svg>
			@MIau
		</button>
	</div>
</div>

<style>
	/* Make section backgrounds relative to their containers
	   instead of fixed to the entire viewport. This allows
	   different backgrounds per section. */

	#portada,
	#cos {
		position: relative;
		overflow: hidden;
	}

	#background,
	#background_1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
		transform-origin: center;
	}

	#background {
		filter: blur(4px);
		opacity: 0.9;
	}

	#background_1 {
		filter: blur(12spx);
		opacity: 0.8;
	}

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}

	#hero {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
	}

	h1 {
		font-size: 22px;
		margin-top: 0.25em;
	}

	#links {
		display: flex;
		gap: 16px;
	}

	#links a {
		display: flex;
		align-items: center;
		padding: 10px 12px;
		color: #111827;
		text-decoration: none;
		transition: color 0.2s;
	}

	#links a:hover {
		color: rgb(78, 80, 86);
	}

	#links a svg {
		height: 1em;
		margin-left: 8px;
	}

	#links a.button {
		color: white;
		background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
		box-shadow:
			inset 0 0 0 1px rgba(255, 255, 255, 0.12),
			inset 0 -2px 0 rgba(0, 0, 0, 0.24);
		border-radius: 10px;
	}

	#links a.button:hover {
		color: rgb(230, 230, 230);
		box-shadow: none;
	}

	pre {
		font-family:
			ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono',
			monospace;
		font-weight: normal;
		background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		margin: 0;
	}

	h2 {
		margin: 0 0 1em;
		font-weight: normal;
		color: #111827;
		font-size: 20px;
	}

	p {
		color: #4b5563;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
	}

	code {
		display: inline-block;
		background:
			linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
			linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%) border-box;
		border-radius: 8px;
		border: 1px solid transparent;
		padding: 6px 8px;
	}

	.box {
		padding: 16px;
		background: rgba(255, 255, 255, 1);
		border-radius: 16px;
		border: 1px solid white;
	}

	#news {
		position: absolute;
		bottom: 16px;
		right: 16px;
		max-width: 300px;
		text-decoration: none;
		transition: background 0.2s;
		backdrop-filter: blur(50px);
	}

	#news:hover {
		background: rgba(255, 255, 255, 0.55);
	}

	@media screen and (max-height: 368px) {
		#news {
			display: none;
		}
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		#hero {
			display: block;
			padding-top: 10%;
		}

		#links {
			flex-wrap: wrap;
		}

		#links a.button {
			padding: 14px 18px;
		}

		#news {
			right: 16px;
			left: 16px;
			bottom: 2.5rem;
			max-width: 100%;
		}

		h1 {
			line-height: 1.5;
		}
	}
</style>
